@import url('//fonts.googleapis.com/css?family=Lato:regular|Lato:900|Lato:700&subset=latin');header.topbar-1 { background-color: rgb(21, 180, 133); }.tbar1 #logo a { margin: inherit;}.menu-wrp .logo-wrp { margin: inherit;}.tbar1 .top-links > li > a { color: rgb(255, 255, 255); font-size: 13px; }.tbar1 #cart > .btn { background-color: rgb(255, 255, 255); color: rgb(104, 85, 81); font-size: 13px; }.tbar1 #cart > .btn i { color: rgb(104, 85, 81); font-size: 13px; }.tbar1 #cart .mini-cart-total .default-btn { background-color: rgb(236, 233, 223); }.tbar1 .search-1 .btn-wrp .search-btn { color: rgb(21, 180, 133); background-color: rgb(255, 255, 255); }.tbar1 .search-1 .btn-wrp .search-btn:hover { background-color: rgb(238, 238, 238); }@media only screen and (min-width: 200px) and (max-width: 979px) {header.topbar-1 { padding-top: inherit; padding-right: inherit; padding-bottom: inherit; padding-left: inherit; }.tbar1 #logo a { margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; }<b>Notice</b>: Undefined variable: topbar2_cls in <b>/var/www/html/ravena/catalog/view/theme/rgen-opencart/template/rgen/css_processor.tpl</b> on line <b>564</b>.topbar-1 #cart > .btn { font-size: 13px; }<b>Notice</b>: Undefined variable: topbar2_cls in <b>/var/www/html/ravena/catalog/view/theme/rgen-opencart/template/rgen/css_processor.tpl</b> on line <b>567</b>.topbar-1 .m-search #search { margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; }}
	.prd-block1 .offer-tag { width: 40px; height: 40px;  }
	.prd-block2 .offer-tag { width: 40px; height: 40px;  }
		#menu { background-color: rgb(236, 233, 223); margin-top: -65px; margin-right: auto; margin-bottom: auto; margin-left: auto;  }.menu-rgywC .rg-nav > li { margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;  }.menu-rgywC .rg-nav > li > .main-item { font-family: Lato; font-size: 13px; line-height: 1.2; font-style: normal; font-weight: normal; font-weight: 900; color: #666666; text-transform: none; letter-spacing: 0px;color: rgb(21, 180, 133); background-color: rgb(236, 233, 223); padding: 20px;font-size: 14px; text-align: left;  }.menu-rgywC .rg-nav > li:hover > .main-item { color: #ffffff; background-color: rgb(21, 180, 133);  }.menu-rgywC 
		.nav-fly li > a, 
		.flyout-prd,
		.flyout-brand { font-family: Lato; font-size: 13px; line-height: 1.2; font-style: normal; font-weight: normal; font-weight: 700; color: #666666; text-transform: none; letter-spacing: 0px;color: rgb(21, 180, 133); background-color: rgb(236, 233, 223); border: 0px; border-style: solid;border-color: rgb(236, 233, 223);border-radius: 0px;padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 15px; font-size: 13px; text-align: left;  }.menu-rgywC 
		.nav-fly li:hover > a,
		.nav-fly li:hover .flyout-prd,
		.nav-fly li:hover .flyout-brand { color: rgb(255, 255, 255); background-color: rgb(21, 180, 133);  }.revslider-rgDxt { margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;  }.revslider-rgDxt .mod-hd { font-size: 13px; text-align: left; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;  }@media only screen and (min-width: 768px) and (max-width: 979px) {}@media only screen and (min-width: 200px) and (max-width: 767px) {}
	footer { font-size: 13px; text-align: left; }
	footer .footer-upper a { color: rgb(104, 71, 55);}
	footer .footer-upper a:hover { color: rgb(104, 71, 55);}
	footer .footer-bottom { background-color: rgb(232, 231, 232); font-size: 13px; text-align: left; }
	footer .footer-bottom a { color: rgb(236, 233, 223);}
	footer .footer-bottom a:hover { color: rgb(21, 180, 133);}
	footer .cp-text { background-color: rgb(238, 238, 238); font-size: 13px; text-align: left; }
	footer .ft-contact { font-family: Lato; font-size: 13px; line-height: 1.2; font-style: normal; font-weight: normal; font-weight: normal; color: #666666; text-transform: none; letter-spacing: 0px;font-size: 13px; color: rgb(73, 60, 57);} footer .ft-contact .info h5 { font-size: inherit; }
	footer .ft-contact a { color: rgb(73, 60, 57);}
	footer .ft-contact a:hover { color: rgb(21, 180, 133);}
	footer .ft-contact .phone i { font-size: 14px;}
	footer .ft-contact .fax i { font-size: 14px;}