/* MENU STRUCTURE 
********************************************/
.rg-nav-wrp {
	margin: auto;
	position: relative;
	z-index: 999;
}
.rg-nav-wrp:after {
	content: '';
	display: table;
	clear: both;
}
.rg-nav-wrp * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* UL reset */
.nav-prd,
.nav-brands,
.nav-fly,
.rg-nav,
.mg-items,
.ul-reset {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* Mobile menu */
.nav-sub-handle,
.rg-nav-handle { display: none; cursor: pointer; }

/* Sub arrow indicator */
.mg-items > li > i,
.nav-fly li > i {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}

/* Width sizes
------------------------*/
.sub-size-full { width: 100%; left: 0; }
.sub-size11 { width: 91.66666667%; }
.sub-size10 { width: 83.33333333%; }
.sub-size9 { width: 75%; }
.sub-size8 { width: 66.66666667%; }
.sub-size7 { width: 58.33333333%; }
.sub-size6 { width: 50%; }
.sub-size5 { width: 41.66666667%; }
.sub-size4 { width: 33.33333333%; }
.sub-size3 { width: 25%; }
.sub-size2 { width: 16.66666667%; }
.sub-size1 { width: 8.33333333%; }

/* Horizontal lines */
.hr { margin: 0px; border: none; border-top: 1px solid #eee; }
.hr1 { margin-bottom: 1px; margin-top: 1px; }
.hr2 { margin-bottom: 2px; margin-top: 2px; }
.hr5 { margin-bottom: 5px; margin-top: 5px; }
.hr10 { margin-bottom: 10px; margin-top: 10px; }
.hr15 { margin-bottom: 15px; margin-top: 15px; }
.hr20 { margin-bottom: 20px; margin-top: 20px; }
.hr25 { margin-bottom: 25px; margin-top: 25px; }
.hr30 { margin-bottom: 30px; margin-top: 30px; }

/* Responsive image */
.rg-nav-wrp img {
	display: block;
	width: 100%;
	/* width: 100% \9;
	max-width: 100%; */
	height: auto;
}
.rg-nav-wrp p {
	margin-top: 0px;
	margin-bottom: 20px;
}

/* Main menu
------------------------*/
.rg-nav {
	/* position: relative; */
	float: left;
	width: 100%;
}
.rg-nav > li {
	float: left;
}
.rg-nav > li > .main-item {
	display: block;
	color: #666;
	position: relative;
	padding: 22px 20px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
	vertical-align: middle;
}
.rg-nav > li:hover > .main-item {
	background-color: #5ac3cc;
	color: #fff;
}
.rg-nav > li > .main-item > i {
	display: inline-block;
	margin-right: 6px;
	position: relative;
	top: 0px;
	vertical-align: middle;
}
.rg-nav > li > .main-item i.ico { top: -1px; }
.rg-nav > li > .main-item i.img {}
.rg-nav > li > .sub {
	position: absolute;
	padding: 0;
	top: 45px;
	display: none;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
}
/* .rg-nav > li > .sub.full-width {
	width: 100%;
	left: 0px;
} */
.rg-nav > li.active > .sub {
	display: block;
}

/* Menu label
------------------------*/
.nav-lbl {
	background-color: #000;
	color: #fff;
	font-size: 11px;
	position: absolute;
	white-space: nowrap;
	left: 50%;
	padding: 4px 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight: bold;
	border-radius: 2px;
	line-height: 1;
}
.nav-lbl i {
	color: #000;
	position: absolute;
	left: 50%;
	bottom: -6px;
	font-size: 18px;
	line-height: 0.4;
	margin-left: -5px;
}
.img-lbl {
	background-color: transparent;
	padding: 0px;
}

/* Fly out menu
------------------------*/
.nav-fly {
	position: absolute;
	background-color: #5ac3cc;
	/* min-width: 160px; */
	min-width: 100%;
	float: left;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
}
.nav-fly li {
	display: inline-block;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	color: #fff;
}
.nav-fly li > a {
	color: #fff;
	display: inline-block;
	width: 100%;
	float: left;
	padding: 6px 15px;
	border-bottom: 1px solid rgba(0,0,0,0.075);
	font-size: 12px;
}
.nav-fly > li:hover > a {
	background-color: #434444;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}
.nav-fly > li:hover > a:hover {
	color: #fff;
}
.nav-fly .nav-fly {
	position: absolute;
	left: 100%;
	top: inherit;
	display: none;
}
.nav-fly li:hover > .nav-fly {
	display: block;
}

/* Fly out menu - products
------------------------*/
.flyout-prd:after {
	content: '';
	display: table;
	clear: both;
	height: 0px;
	font-size: 0px;
}
.flyout-prd {
	padding: 8px 15px 8px 8px;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}
.nav-fly > li:hover > .flyout-prd {
	background-color: #434444;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}
.flyout-prd .image {
	display: inline-block;
	width: 40px;
	vertical-align: middle;
}
.flyout-prd .info-wrp {
	margin-left: 8px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.flyout-prd .info-wrp a {
	color: #fff;
	font-weight: bold;
	display: block;
	margin-bottom: 2px;
}
.flyout-prd .info-wrp .price {
	font-size: 11px;
}
.flyout-prd .info-wrp .price-old {
	font-size: 11px;
	text-decoration: line-through;
	opacity: 0.6;
	font-weight: normal;
}

/* Fly out menu - brands
------------------------*/
.flyout-brand {
	padding: 6px 10px 6px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}
.nav-fly > li:hover > .flyout-brand {
	background-color: #434444;
}
.flyout-brand a:hover,
.flyout-brand a {
	color: #fff;
}
.flyout-brand span {
	display: inline-block;
	vertical-align: middle;
}
.flyout-brand img {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}


/* Mega menu
------------------------*/
.nav-mega {
	padding: 20px;
	background-color: #fff;
	border: 5px solid #5ac3cc;
}
.nav-mega .cl-sep > [class*="cl"] {
	border-color: rgba(0,0,0,0.07);
}
.mg-items {
	margin-bottom: 8px;
	float: left;
  	width: 100%;
}
.mg-items:last-child { margin-bottom: 0px; }
.mg-items > li {
	font-size: 12px;
	position: relative;
	float: left;
	width: 100%;
}
.mg-items > li > a,
.mg-items > li > .sub-item {
	padding: 3px 0;
	color: #5ac3cc;
	display: inline-block;
	float: left;
	width: 100%;
}
.mg-items > li > a:hover,
.mg-items > li > .sub-item:hover {
	text-decoration: underline;
	color: #404048;
}
.mg-items > .hd .sub-item {
	border-bottom: 1px solid #eee;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 8px 0;
	margin-bottom: 5px;
	color: #404048;
}
.mg-items > .hd + li {
	padding-top: 0px;
}
.mg-items > li > .nav-fly {
	position: absolute;
	left: 100%;
	top: inherit;
	display: none;
	z-index: 99;
	min-width: 160px;
}
.mg-items > li .nav-fly {
	min-width: 160px;
}
.mg-items > li:hover > .nav-fly {
	display: block;
}

/* CATEGORY BLOCKS
********************************************/
/* Category block 1
------------------------*/
.cat-block2 .cat-img {
	margin-bottom: 8px;
	border: 1px solid rgba(0,0,0,0.05);
}

/* BRAND BLOCKS
********************************************/

/* Brand block 1
------------------------*/
.brand-block1 { 
	border: 1px solid #eee;
	padding: 8px;
	text-align: center;
	font-size: 11px;
}
.brand-block1 span { 
	border-top: 1px solid #eee;
	display: block;
	text-align: center;
	padding: 8px 0 0 0;
	margin-top: 8px;
	min-height: 40px;
}

/* Brand block 2
------------------------*/
.brand-block2 { 
	text-align: center;
	position: relative;
	border: 1px solid #eee;
}
.brand-block2 span {
	display: none;
}
.brand-block2:hover span:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.brand-block2:hover span { 
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	padding: 8px;
	color: #fff;
}
.brand-block2:hover span b { 
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	width: 95%;
}

/* SMALL PRODUCT BLOCKS
********************************************/
.sm-prd-block .btn {
	border-color: #5ac3cc;
	background-color: #5ac3cc;
	color: #fff;
	border-radius: 0px;
	padding: 0px;
	font-size: 11px;
	padding: 2px 10px;
	margin-bottom: 10px;
}
.sm-prd-block .btn:hover {
	border-color: #434444;
	background-color: #434444;
}

/* Product block 1
------------------------*/
.sm-prd-block1 { 
	border: 1px solid #eee; 
	padding: 10px; 
	text-align: center;
}
.sm-prd-block1 .image { margin-bottom: 10px; }
.sm-prd-block1 .name { 
	font-size: 12px;
	margin-bottom: 6px;
	font-family: inherit;
	text-transform: none;
	font-weight: bold;
}
.sm-prd-block1 .price { margin-bottom: 10px; }
.sm-prd-block1 .price-new { font-weight: bold; }
.sm-prd-block1 .price-old { 
	opacity: 0.5; 
	text-decoration: line-through;
	font-size: 11px;
}
.sm-prd-block1 .btn { margin-bottom: 5px; }

/* Product block 2
------------------------*/
.sm-prd-block2 {
	border-bottom: 1px solid #eee; 
	padding: 0 0 6px 0;
	text-align: left;
	float: left;
	width: 100%;
}
.sm-prd-block2 .image { 
	margin-bottom: 10px;
	float: left;
	width: 60px;
}
.sm-prd-block2 .info-wrp {
	margin-left: 75px;
}
.sm-prd-block2 .name { 
	font-size: 12px; 
	margin-bottom: 4px;
	font-family: inherit;
	text-transform: none;
	font-weight: bold;
}
.sm-prd-block2 .price { margin-bottom: 4px; }
.sm-prd-block2 .price-new { font-weight: bold; margin: 0 5px 0 0; }
.sm-prd-block2 .price-old { 
	opacity: 0.8;
	text-decoration: line-through; 
	font-size: 11px;
}
.sm-prd-block2 .btn { 
	margin-bottom: 0px;
	padding: 2px 6px;
}

/* BANNER BLOCKS
********************************************/
/* Banner block 1
------------------------*/
.bannerimg-block1 .image {
	display: block;
}
.bannerimg-block1 .name {
	font-weight: bold;
	font-size: 13px;
	display: block;
	padding-top: 8px;
	text-align: center;
}

/* Banner block 2
------------------------*/
.bannerimg-block2 {
	position: relative;
}
.bannerimg-block2 .image {
	display: block;
	/* position: relative; */
}
.bannerimg-block2 .name {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 13px;
	display: none;
	text-align: center;
	color: #fff;
}
.bannerimg-block2:hover .name {
	display: block;
	background-color: rgba(0,0,0,0.6);
}
.bannerimg-block2:hover .name b {
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	left: 50%; top: 50%;
}

/* Banner block 3
------------------------*/
.bannerimg-block3 {
	border: 1px solid #eee;
	padding: 8px;
}
.bannerimg-block3:hover {
	border-color: #5ac3cc;
}
.bannerimg-block3 .image {
	display: block;
}
.bannerimg-block3 .name {
	font-weight: bold;
	display: block;
	padding-top: 8px;
	text-align: center;
	min-height: 40px;
}

/* Banner block 4
------------------------*/
.bannerimg-block4 {
	border: 1px solid #eee;
}

/* INFO BLOCKS
********************************************/
/* Banner block 1
------------------------*/
.menu-infobox1 .name {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.menu-infobox1 .image {
	margin-bottom: 10px;
	display: block;
}
.menu-infobox1 .text {
	padding-bottom: 10px;
	line-height: 1.6;
}
.menu-infobox1 .btn-wrp {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

/* Banner block 2
------------------------*/
.menu-infobox2 .name {
	margin-bottom: 8px;
}
.menu-infobox2 .image {
	margin-bottom: 12px;
	display: block;
}
.menu-infobox2 .text {
	line-height: 1.6;
	padding-bottom: 10px;
}
.menu-infobox2 .btn-wrp {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

/* Banner block 3
------------------------*/
.menu-infobox3 {
	padding: 15px;
	border: 1px solid #eee;
}
.menu-infobox3 .name {
	margin-bottom: 8px;
}
.menu-infobox3 .image {
	margin-bottom: 12px;
	display: block;
}
.menu-infobox3 .text {
	line-height: 1.6;
	padding-bottom: 10px;
}
.menu-infobox3 .btn-wrp {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

/* Banner block 4
------------------------*/
.menu-infobox4 {
	padding: 10px;
	border: 1px solid #eee;
}
.menu-infobox4:after {
	content: '';
	display: table;
	clear: both;
}
.menu-infobox4 .name {
	margin-bottom: 6px;
	font-size: 14px;
}
.menu-infobox4 .image {
	float: left;
	display: block;
	margin-right: 10px;
	width: 80px;
}
.menu-infobox4 .info-wrp {
	margin-left: 90px;
}
.menu-infobox4 .btn-wrp {
	padding-top: 10px;
}

/* OPENCART DEFAULT NAVIGATION
********************************************/
.oc-default .nav-fly,
.oc-default .nav-fly li,
.oc-default .nav-fly li > a {
	display: block;
	float: none;
}
.oc-default .sub {
	position: static;
	background-color: #5ac3cc;
	min-width: 160px;
}
.oc-default .sub > .nav-sub-col {
	display: table;
	width: 100%;
}
.oc-default .nav-fly {
	position: static;
	box-shadow: none;
	display: table-cell;
}
.oc-default .col-menu > .nav-sub-col > .nav-fly {
	min-width: 160px;
}
.oc-default .see-all {
	display: block;
	background-color: rgba(0,0,0,0.1);
	padding: 6px 10px;
	color: #fff;
	text-align: left;
}

/* MENU ALIGN
********************************************/
.menu-center {
	text-align: center;
}
.menu-center .rg-nav {
	display: inline-block;
	text-align: left;
	float: none;
	width: auto;
	margin-bottom: -4px;
}
.menu-right {
	text-align: right;
}
.menu-right .rg-nav {
	display: inline-block;
	text-align: left;
	float: none;
	width: auto;
	margin-bottom: -4px;
}