body { margin: 0px; }
.modname { text-transform: uppercase; font-weight: bold; color: #FF6100; }
/* LAYOUT STRUCTURE 
********************************************/
.rgen-main-container {
	background-color: #dbdfe2;
	padding: 30px;
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	color: #61656c;
	border-radius: 5px;
}
.rgen-main-inner {
	width: 998px;
	margin: 0 auto;
}
.rgen-container {
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.08);
}
.code-input {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
}

/* COMMON
********************************************/
hr {
	margin: 15px 0;
	border-top: 1px solid #f4f4f4;
}
#modal-image {
	z-index: 99999;
}
.sticky {
	position: fixed !important;
	width: 998px;
	z-index: 999;
	top: 0px !important;
	border-radius: 0 !important;
	display: block !important;
}
.sp-palette-container { max-width: 200px; }

/* Loader
------------------------*/
.blockMsg {
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center 25px;
}

/* Common preview box
------------------------*/
.preview-block {
	text-align: center;
	border: 1px solid rgba(0,0,0,0.05);
	padding: 10px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	background-color: rgba(0,0,0,0.01);
}
.img-preview img,
.preview-block img {
	width: auto\9; 
	height: auto !important; 
	max-width: 100%;
	display: block;
	margin: auto;
	width: 100%;
}
.img-preview {
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.05);
	display: inline-block;
	text-align: center;
}

/* Fonts preview
------------------------*/
.font-preview {
	font-size: 18px;
	color: #666;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.05);
	padding: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	background-color: rgba(0,0,0,0.01);
}

/* Tool tip
------------------------*/
.tooltip {
	font-family: inherit;
	font-weight: normal;
	font-size: 12px;
	text-transform: none;
}

/* TYPOGRAPHY
********************************************/
.rgen-model,
h1, h2, h3, h4, h5, h6,
.ff-1 { font-family: 'Droid Sans', sans-serif; }

.help-text,
.ff-2 { font-family: 'Droid Serif', serif; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
	text-transform: uppercase;
	margin: 0px;
	color: #0d2a37;
}

.h1 { font-size: 20px; }
.h2 { font-size: 18px; }
.h3 { font-size: 16px; margin: 0 0 10px 0; }
.h4 { font-size: 14px; margin: 0 0 10px 0; }
.h5 { font-size: 12px; }

.dark .h1,
.dark .h2,
.dark .h3,
.dark .h4,
.dark .h5 { color: #fff; }

.link { color: #ea6d6d; text-decoration: underline; }
.link:hover { color: #0d2a37; text-decoration: none; }

.rgen-hd-1 {
	font-size: 12px;
	background-color: #F9F9F9;
	padding: 6px 20px;
	margin: 15px -19px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	color: #61656c;
	position: relative;
}
.form-full .rgen-hd-1{
	margin: 0px;
}
.rgen-hd-1 .rgen-btn.remove {
	position: absolute;
	top: -1px;
	right: -15px;
	border-radius: 50px;
	padding: 3px 5px;
	font-size: 18px;
	color: #fff;
	z-index: 99;
}
.rgen-hd-2 {
	font-size: 14px;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #f4f4f4;
	color: #61656c;
}
.rgen-hd-3 {
	font-size: 14px;
	color: #61656c;
}

.main-hd-dark,
.main-hd {
	font-size: 16px;
	background-color: #ededed;
	border-radius: 4px 4px 0 0;
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid #dadcdd;
	color: #61656c;
	position: relative;
}
.main-hd-dark {
	background-color: #35424d;
	border-radius: 4px 4px 0 0;
	margin: 0;
	color: #ffffff;
}

a:hover, a { text-decoration: none; }

/* Page header
------------------------*/
.page-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400 !important;
	font-size: 30px;
	color: #848484;
	display: inline-block;
	margin-bottom: 15px;
	text-transform: none;
}
.breadcrumb {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 0 10px;
}

/* BUTTONS
********************************************/
.rgen-btn {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	background-color: #a6a9ae;
	color: #fff;
	border-radius: 3px;
	padding: 9px 15px;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	line-height: 1.2;
	border: 2px solid transparent;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	margin-bottom: 0px;
}

.rgen-btn.large { padding: 9px 20px; font-size: 16px; line-height: 1; }
.rgen-btn.small { padding: 6px 14px; }
.rgen-btn.mini { padding: 4px 10px; font-weight: normal; font-size: 11px; padding: 3px 8px; }

.rgen-btn.highlighted { background-color: #ea6d6d; }
.rgen-btn.mediumlight { background-color: #82cb80; }
.rgen-btn.light { background-color: #ededed; color: #35424d; }
.rgen-btn.dark { background-color: #35424d; }

.rgen-btn.active,
.rgen-btn.light:hover,
.rgen-btn.mediumlight:hover,
.rgen-btn.highlighted:hover,
.rgen-btn:hover {
	background-color: #35424d;
	color: #fff;
	text-decoration: none;
}
.btn-block { display: block; }
.rgen-btn.dark:hover { background-color: #ea6d6d; }

.btn-holder { position: relative; }
.btn-tr {
	float: none;
	margin: 0px;
	position: absolute;
	top: -69px;
	right: 0px;
}

/* Tab group
------------------------*/
.tab-group {
	background-color: #f4f4f4;
	border-radius: 4px;
	padding: 10px;
}
.tab-group .rgen-btn {
	position: relative;
}
.tab-group .rgen-btn.active:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 10px solid #35424d;
	border-color: #35424d transparent transparent transparent;
	left: 50%;
	bottom: -20px;
	margin-left: -10px;
}

/* Button in title
------------------------*/
.btn-in-hd {
	float: right;
	margin: 10px 10px 0 0;
}
.main-hd-dark .btn-in-hd, 
.main-hd .btn-in-hd {
	position: absolute;
	right: 10px;
	top: 10px;
	float: none;
	margin: 0px;
}

/* Button group
------------------------*/
.rgen-btn-group { font-size: 0px; display:; }
.rgen-btn-group .rgen-btn {
	margin-right: -1px;
	border-radius: 0px;
	border-left: 1px solid rgba(0,0,0,0.18);
}
.rgen-btn-group .rgen-btn:first-child {	border-radius: 3px 0 0 3px; border-left: transparent; }
.rgen-btn-group .rgen-btn:last-child { border-radius: 0 3px 3px 0; }


/* LABELS
********************************************/
.rgen-lbl {
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	font-size: 10px;
	color: #fff;
	padding: 3px 6px;
	background-color: #a6a9ae;
	font-weight: normal;
}
.rgen-lbl.highlighted { background-color: #ea6d6d; }
.rgen-lbl.mediumlight { background-color: #82cb80; }
.rgen-lbl.light { background-color: #ededed; color: #35424d; }
.rgen-lbl.dark { background-color: #35424d; }

.rgen-lbl.white { 
	background-color: #fff; 
	color: #999; 
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
	border: 1px solid rgba(0,0,0,0.1);
}
.rgen-lbl i { 
	font-weight: bold;
	font-style: normal;
	color: #94CCDC;
}

/* SWITCH
********************************************/
.bootstrap-switch {
	border: none;
	background-color: #ededed; /* #ededed */
	height: 24px;
	overflow: hidden !important;
	width: 60px !important;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
}
.bootstrap-switch,
.bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
	border-radius: 30px !important;
	height: 24px;
}
.bootstrap-switch .bootstrap-switch-container {
	-webkit-transform: inherit;
	transform: inherit;
}
.bootstrap-switch.bootstrap-switch-focused {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, 
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off {
	padding: 3px 5px;
}
.bootstrap-switch-handle-on,
.bootstrap-switch-handle-off{
	width: 60px !important;
}
.bootstrap-switch-handle-on {
	background-color: #82cb80 !important;
	text-align: left !important;
	padding-left: 15px !important;
}
.bootstrap-switch-handle-off {
	background-color: #ededed !important;
	text-align: right !important;
	padding-right: 11px !important;
}
.bootstrap-switch-container {
	position: relative;
	width: 120px !important;
}
.bootstrap-switch-label {
	width: 20px !important;
	height: 20px !important;
	position: absolute;
	z-index: 1 !important;
	top: 3px;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.2);
}
.bootstrap-switch-on .bootstrap-switch-label { left: 38px; }
.bootstrap-switch-off .bootstrap-switch-label { left: auto; right: 38px; }

/* R.Gen switch */
.rgen-switch {
	border-radius: 30px;
	overflow: hidden;
	position: relative;
	width: 60px;
	height: 24px;
	cursor: pointer;
}
.rgen-switch input {
	opacity: 0;
	position: absolute;
	z-index: 1;
}
.rgen-switch span {
	height: 24px;
	display: block;
	background-color: #a6a9ae;
	position: absolute;
	width: 100%;
	white-space: nowrap;
}
.rgen-switch span b {
	height: 24px;
	width: 62px;
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0 10px;
	
}
.rgen-switch input+span:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #fff;
	left: 2px;
	top: 2px;
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.2);
}
.rgen-switch input+span {
	right: 0px;
	background-color: #ededed; 
}
.rgen-switch span .on { 
	margin-left: -62px;
	color: #fff;
}
.rgen-switch span .off { 
	text-align: right; 
	padding-right: 12px;
	color: #61656c;
}
.rgen-switch input[type=checkbox]:checked + span { background-color: #82cb80; }
.rgen-switch input[type=checkbox]:checked + span .on { margin-left: 0px; }
.rgen-switch input[type=checkbox]:checked + span:before { left: 38px; }

.rgen-switch span:before,
.rgen-switch span b,
.rgen-switch span {
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
}

/* FORMS
********************************************/
.rgen-form-wrp { }
.rgen-form-wrp:after { content: ''; display: table; clear: both; }
.rgen-form-wrp .field-box {
	display: table;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #f4f4f4;
}
.rgen-form-wrp .field-box:first-child {
	border-top: 1px solid #f4f4f4;
}
.rgen-form-wrp .field-box > label {
	display: table-cell;
	width: 250px;
	padding: 0 10px;
	font-weight: normal;
	color: #35424d;
	border-right: 1px solid #ededed;
	vertical-align: middle;
}
.rgen-form-wrp .field-box > .fields {
	display: table-cell;
	padding: 0 10px;
	vertical-align: middle;
}

.rgen-form-wrp .field-box > label.form-large { width: 300px; }
.rgen-form-wrp .field-box > label.form-medium { width: 200px; }
.rgen-form-wrp .field-box > label.form-small { width: 150px; }
.rgen-form-wrp .field-box > label.form-mini { width: 100px; }

.rgen-form-wrp.form-large .field-box > label { width: 300px; }
.rgen-form-wrp.form-medium .field-box > label { width: 200px; }
.rgen-form-wrp.form-small .field-box > label { width: 150px; }
.rgen-form-wrp.form-mini .field-box > label { width: 100px; }

/* Full form inside panel
------------------------*/
.form-full { margin: -20px; }
.form-full .field-box > label { padding-left: 20px; }
.form-full .field-box > .fields { padding-right: 20px; }

/* Form in row
------------------------*/
.form-row {
	list-style-type: none;
	margin: 0px; padding: 0px;
	display: table;
}
.form-row li {
	display: table-cell;
	border-right: 1px solid #ededed;
	padding: 0 10px;
	vertical-align: top;
}
.form-row li:first-child { padding-left: 0px; }
.form-row li:last-child { 
	padding-right: 0px; 
	border-right: none;
}
.form-row li .lbl {
	font-weight: normal;
	font-size: 11px;
}

/* Form elements
------------------------*/
.select,
.form-field {
	padding: 7px 10px;
	background-color: #f9f9f9;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	line-height: 1.2;
	display: block;
}
.form-field.light { background-color: #fff; }
.select + .select,
.form-field + .form-field { margin-top: 10px; }
select.form-field { box-shadow: inset 0 -2px 3px 0px rgba(0,0,0,0.05); }

.w-full { width: 100%; }
.w-large { width: 70%; }
.w-medium { width: 50%; }
.w-small { width: 200px; }
.w-mini { width: 100px; }
.w-tiny { width: 50px; }

.form-field.large { padding: 8px 14px; line-height: 1.8; font-size: 16px; color: #333; font-weight: 700; }

.inline,
.select.inline,
.form-field.inline {
	display: inline-block;
	margin-right: 4px;
	margin-left: 4px;
	vertical-align: middle;
}
.select.inline:first-child,
.form-field.inline:first-child {
	margin-left: 0px;
}

.inline + .inline { margin-top: 0px; }

/* Select drop down
------------------------*/
.select {
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: inset 0 -2px 3px 0px rgba(0,0,0,0.05);
	overflow: hidden;
	padding: 0px;
}
.select:before {
	content: '';
	position: absolute;
	right: 10px;
	top: 13px;
	border: 1px solid #a6a9ae;
	border-width: 6px 5px 0 5px;
	border-color:  #a6a9ae transparent #a6a9ae transparent;
}
.select select {
	position: relative;
	margin: 0;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
	line-height: 1.2;
	padding: 7px 10px;
	-webkit-appearance: none;
	width: 110%;
}
.select select:focus {
	z-index: 3;
	color: #000;
	outline: none;
	outline-offset: -2px;
	border-radius: 3px;
}
.select select option {
	margin: 3px;
	padding: 6px 7px;
	text-shadow: none;
	cursor: pointer;
}

.dark.select {
	background-color: #61656c;
	box-shadow: none;
	border-color: transparent;
	color: #fff;
}
.dark.select select:focus {	color: #fff; }
.dark.select select option { color: #000; }

/* Check box list
------------------------*/
.field-list {
	margin: 0px; padding: 0px; list-style-type: none;
}
.field-list:after {
	content: '';
	display: table;
	clear: both;
}
.field-list li {
	float: left;
	width: 33.33333333333333%;
	padding: 2px;
}
.field-list li label {
	font-weight: normal;
	margin: 0px;
	display: block;
	background-color: #f4f4f4;
	padding: 6px 10px;
	color: #35424d;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}
.field-list li label:hover {
	background-color: #35424d;
	color: #fff;
}
.field-list li label input {
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-right: 4px;
	opacity: 0;
}
.field-list li label i {
	position: absolute;
	left: 8px;
	top: 6px;
	font-size: 18px;
	opacity: 0;
}
.field-list li label input + .fa-times { opacity: 1; color: #ea6d6d; }
.field-list li label input:checked + .fa-times { opacity: 0; }

.field-list li label input + .fa-times + .fa-check { opacity: 0; }
.field-list li label input:checked + .fa-times + .fa-check { opacity: 1; color: #82cb80; }


/* Search text box
------------------------*/
.search { position: relative; }
.search input { 
	padding-right: 25px;
}
.search i { 
	position: absolute;
	right: 9px;
	top: 9px;
	opacity: 0.5;
}

/* Form elements
------------------------*/
.help-text {
	font-style: italic;
	font-size: 11px;
	color: #999999;
	margin: 4px 0 0 0;
	line-height: 1.3;
}
.rgen-form-wrp .field-box > .fields .help-text {
	margin: 6px 0 0 0;
}
.help-text strong {
	color: #666;
}


/* Tip in form elements
------------------------*/
.rgen-tip > * {
	display: inline-block;
	vertical-align: middle;
}
.help-tip,
.help-tip:hover,
.rgen-tip > .help-tip {
	margin-left: 8px;
	font-size: 22px;
	cursor: pointer;
	color: #82cb80;
	display: inline-block;
	vertical-align: middle;
}
.tip { position: relative; padding-right: 30px; }
.tip .help-tip { position: absolute; right: 6px; top: 50%; margin-top: -15px; }

/* Add on after input
------------------------*/
.rgen-addon {
	margin-bottom: 5px;
}
.rgen-addon .flag,
.rgen-addon .addon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	font-size: 24px;
	cursor: pointer;
}
.rgen-addon .addon {
	cursor: inherit;
	font-size: inherit;
}
.rgen-addon .flag {
	margin-left: 0px;
	background-color: #f4f4f4;
	font-size: inherit;
	padding: 6px 10px;
	vertical-align: middle;
	top: -2px;
	position: relative;
	border-radius: 3px;
	cursor: inherit;
}

.rgen-addon .add { color: #82cb80; }
.rgen-addon .del { color: #ea6d6d; }

.rgen-addon .form-field {
	display: inline-block;
}

/* Image upload
------------------------*/
.image-upload {
	background-color: #f9f9f9;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	width: 120px;
	height: 120px;
	position: relative;
	padding: 5px;
	display: table;
}
.image-upload .image-holder {
	width: 108px;
	height: 108px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.image-upload .image-holder img {
	/* width: 100%;
	height: auto; */
	width: 100% \9;
	max-width: 100%;
	height: auto;
	/* height: 100%; */
	max-height: 100%;
}
.image-upload, .image-buttons {
	display: inline-block;
	vertical-align: middle;
}
.image-buttons {
	width: 80px;
	margin-left: 10px;
}
.image-buttons .rgen-btn {
	display: block;
	margin: 5px 0;
	width: 100%;
}
.large.image-upload { cursor: pointer; }
.large.image-upload:hover { border-color: #82cb80; }
.large.image-upload .reset-btn {
	position: absolute;
	right: -8px;
	top: -8px;
	color: #ea6d6d;
	font-size: 24px;
	line-height: 0.8;
	background-color: #fff;
	border-radius: 24px;
	cursor: pointer;
}
.large.image-upload {
	width: 200px;
	height: 200px;
}
.large.image-upload .image-holder {
	width: 188px;
	height: 188px;
}

/* SMALL IMAGE BLOCK
********************************************/
.img-thumbs {
	display: inline-block;
	width: 300px;
	text-align: left;
	background-color: #f4f4f4;
	padding: 8px;
	border-radius: 3px;
	position: relative;
	margin: 0 10px 10px 0;
}
.img-thumbs .image-upload {
    width: 100px;
    height: 100px;
}
.img-thumbs .image-upload .image-holder {
    width: 88px;
    height: 88px;
}
.img-thumbs .info {
	display: inline-block;
	width: 175px;
	vertical-align: middle;
	margin-left: 5px;
}
.img-thumbs > .rgen-btn {
	position: absolute;
	right: -8px;
	top: -7px;
	z-index: 2;
	padding: 2px 4px;
	border-radius: 20px;
}
.img-thumbs .rgen-btn-group {
	background-color: #a6a9ae;
    border-radius: 2px;
    padding: 2px;
}
.img-thumbs .rgen-btn-group .rgen-btn {
	padding: 1px 3px 1px 4px;
	border-radius: 0px;
}
.img-thumbs .form-field {
	width: 100%;
}
.img-thumbs .info .url {
	margin: 5px 0;
}

.image-upload-small {
	display: inline-block;
	vertical-align: middle;
}
.image-upload-small .image-buttons {
	display: block;
	margin: 0px;
	width: auto;
	text-align: center;
}
.image-upload-small .image-buttons .rgen-btn{
	display: inline-block;
	padding: 2px;
	font-size: 11px;
	font-weight: normal;
}
.image-upload-small .image-buttons .resetbtn {
	width: 22px;
}
.image-upload-small .image-buttons .browsebtn {
	width: 75px;
}



/* TYPEAHEAD
********************************************/
.data-container {
	overflow-y: scroll;
	height: 150px;
	background-color: #ededed;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	padding: 5px;
	margin-top: 5px;
}
.data-container > div {
	position: relative;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 0 0 1px 0;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.05);
	padding: 3px 10px;
}
.data-container > div > i {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
	color: #ea6d6d;
	font-size: 16px;
	cursor: pointer;
}
.data-container div.data-wrp { 
	background: none;
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0px;
}
.data-list { 
	padding: 0;
	margin-bottom: 10px;
}
.data-list .data-hd {
	font-size: 11px;
	margin: 0 0 2px 0;
	background-color: #0d2a37;
	color: #fff;
	padding: 5px 10px 4px 10px;
	text-align: center;
	border-radius: 3px;
	font-weight: normal !important;
}
.data-list label {
	display: block;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 0 0 2px 0;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.05);
	padding: 6px 10px;
    font-weight: normal;
}
.data-list label input {
	position: relative;
    vertical-align: middle;
    margin: 0 5px 0 0;
    top: -1px;
}

/* LIST
********************************************/
.list {
	list-style-type: none;
	margin: 0px; padding: 0px;
}
.list li {
	position: relative;
	font-size: 12px;
	margin-bottom: 1px;
}
.list li i { position: absolute; }
.list li .del {
	right: 3px;
	top: 3px;
	color: #d5d7d9;
	top: 50%;
	margin-top: -11px;
	border-radius: 20px;
	padding: 3px 5px 4px 5px;
	font-size: 14px;
	cursor: pointer;
}
.list li .crt {
	display: none;
	right: -2px;
	top: 0;
	font-size: 14px;
	color: #61656c;
	height: 100%;
	border-left: 2px solid #61656c;
}
.list li .del:hover {
	background-color: #ea6d6d;
	color: #fff;
}
.list li .crt:before {
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -8px;
	font-size: 24px;
	height: 16px;
	line-height: 16px;
}
.list li.active a,
.list li:hover a {
	background-color: #61656c;
	color: #fff;
}
.list li.active .crt,
.list li:hover .crt {
	display: block;
}
.list a {
	display: block;
	color: inherit;
	text-decoration: none;
	background-color: #fff;
	padding: 7px 25px 5px 10px;
	cursor: pointer;
}

/* List - 1
------------------------*/
.dash-board ul,
.list-1 ul,
.list-1 {
	margin: 0px; padding: 0px; list-style-type: none;
}
.list-1 > li {
	margin-bottom: 2px;
}
.list-1 > li > a {
	display: block;
	background-color: #f4f4f4;
	padding: 6px 10px;
	color: #35424d;
	border-radius: 3px;
}
.list-1 > li > a:hover {
	background-color: #61656c;
	color: #fff;
}
.list-1 .sub {
	border-left: 1px dotted #ccc;
	margin-left: 10px;
	padding: 8px 0 5px 12px;
}
.list-1 .sub > li {
	margin-bottom: 3px;
}
.list-1 .sub a {
	color: #61656c;
}
.list-1.list-inrow {
	margin-bottom: 20px;
}
.list-1.list-inrow:after {
	content: '';
	display: table;
	clear: both;
}
.list-1.list-inrow > li {
	float: left;
	width: 20%;
	padding: 2px;
	font-size: 12px;
}

/* List - 2
------------------------*/
.list-2 { margin: 0px; padding: 0px; list-style-type: none; }
.list-2 li { 
	border-bottom: 1px solid #f4f4f4;
	padding: 5px 2px;
}

/* DASH BOARD
********************************************/
.dash-board ul {
	margin-bottom: 30px;
}
.dash-board ul:after {
	content: '';
	display: table;
	clear: both;
}
.dash-board ul li {
	margin-bottom: 2px;
	float: left;
	width: 20%;
	padding: 2px;
	font-size: 12px;
}
.dash-board ul li > a {
	display: block;
	background-color: #f4f4f4;
	padding: 6px 10px;
	color: #35424d;
	border-radius: 3px;
}
.dash-board ul li > a:hover {
	background-color: #61656c;
	color: #fff;
}
.dash-board .menu-hd {
	margin: 0 2px 8px 2px;
	padding: 0 0 8px 0;
	font-size: 13px;
	border-bottom: 1px solid #f4f4f4;
}


/* HEADER
********************************************/
.rgen-header {
	background-color: #35424d;
	border-radius: 4px;
	position: relative;
	margin-bottom: 20px;
	z-index: 9;
}
.rgen-header:hover {
	z-index: 1040;
}
.rgen-brand { 
	min-height: 80px;
	float: left;
	padding: 18px 20px;
	width: 200px;
	background-color: #0d2a37;
	border-radius: 4px 0 0 4px;
}
.rgen-brand h1 {
	font-size: 22px;
	margin: 0px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.rgen-brand span {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	color: #a6a9ae;
	font-style: italic;
}
.rgen-header-btn {
	position: absolute;
	right: 22px;
	top: 22px;
}
.rgen-header-btn td {
	padding-left: 5px;
}

/* Theme selector
------------------------*/
.rgen-theme-selector .lbl {
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	margin-right: 8px;
}
.rgen-theme-selector a {
	font-size: 0px;
	margin-left: 5px;
}
.rgen-theme-selector a i {
	font-size: 35px;
}
.rgen-theme-selector .rgen-addon { margin-bottom: 0; }

/* MENU
********************************************/
.rgen-menu-wrp { 
	margin-left: 201px;
}
.rgen-menu,
.rgen-menu ul {
	list-style-type: none;
	margin: 0px; padding: 0px;
}
.rgen-menu { 
	display: inline-block;
}
.rgen-menu .main-link { 
	display: inline-block;
	margin-right: 0px;
	width: 110px;
	border-right: 1px solid #213642;
	text-align: center;
	vertical-align: top;
}
.rgen-menu .main-link > a { 
	display: block;
	height: 80px;
	color: #a6a9ae;
	font-size: 12px;
}
.rgen-menu .main-link:hover > a { 
	background-color: #ea6d6d;
	color: #fff;
}
.rgen-menu .main-link > a:before { 
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.rgen-menu .main-link > a span { 
	display: inline-block;
	vertical-align: middle;
}
.rgen-menu .main-link > a span i { 
	font-size: 28px;
	margin-bottom: 6px;
	text-align: center;
}
.rgen-menu .main-link > .sub-menu { 
	position: absolute;
	display: none;
	width: 100%;
	background-color: #ea6d6d;
	left: 0px;
	border-radius: 5px;
	padding: 15px;
}
.rgen-menu .main-link > .sub-menu > ul:after {
	content: '';
	display: table;
	clear: both;
}
.rgen-menu .main-link > .sub-menu > ul {
	margin-bottom: 20px;
}
.rgen-menu .main-link > .sub-menu > ul > li { 
	float: left;
	padding: 2px;
	width: 20%;
	position: relative;
}
.rgen-menu .main-link > .sub-menu > ul > li > a { 
	display: block;
	background-color: rgba(0,0,0,0.1);
	padding: 6px 10px;
	color: #fff;
	text-align: left;
	position: relative;
	border-radius: 3px;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.rgen-menu .main-link .sub-menu .sub i {
	position: absolute;
	right: 8px;
	top: 8px;
}
.rgen-menu .main-link > .sub-menu li > .sub-menu {
	position: absolute;
	margin-left: 100%;
	display: none;
	top: 2px;
	left: -2px;
	background-color: #0d2a37;
	width: 200px;
	z-index: 99;
	text-align: left;
	padding: 8px;
}
.rgen-menu .main-link > .sub-menu li > .sub-menu a {
	display: block;
	padding: 5px 10px;
	background-color: #35424d;
	margin-bottom: 1px;
	color: #a6a9ae;
}
.rgen-menu .main-link > .sub-menu > ul > li:hover > a,
.rgen-menu .main-link > .sub-menu li > .sub-menu li:hover a {
	background-color: #fff;
	color: #35424d;
}

.rgen-menu .main-link:hover > .sub-menu li:hover > .sub-menu,
.rgen-menu .main-link:hover > .sub-menu { 
	display: block;
}
.rgen-menu .main-link > .sub-menu .menu-hd {
	margin: 15px 0 5px 0;
	padding: 0 4px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	text-align: left;
}

/* TABS
********************************************/
.rgen-tab-panel {

}

/* Tabs - Large
------------------------*/
.rgen-tab-panel-large .nav-tabs-wrp {
	background-color: #ededed;
	border-radius: 4px 4px 0 0;
}
.rgen-tab-panel-large .nav-tabs {
	border-bottom: 1px solid #dadcdd;
}
.rgen-tab-panel-large .nav-tabs > li > a {
	border-radius: 0px;
	margin-right: 0px;
	padding: 18px 30px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	color: #999;
}
.rgen-tab-panel-large .nav-tabs > li:first-child > a {
	border-radius: 4px 0 0 0;
}
.rgen-tab-panel-large .nav-tabs > li {
	border-radius: 0px;
	border-right: 1px solid #dadcdd;
}
.rgen-tab-panel-large .nav-tabs > li.active > a, 
.rgen-tab-panel-large .nav-tabs > li.active > a:hover, 
.rgen-tab-panel-large .nav-tabs > li.active > a:focus {
	background-color: #fff;
	border-color: #fff;
	color: #35424d;
}
.rgen-tab-panel-large .tab-content {
	padding: 20px;
}


/* PANELS
********************************************/
.rgen-panel {
	background-color: #f4f4f4;
	border: 3px solid #f4f4f4;
	border-radius: 3px;
	margin-bottom: 10px;
}
.rgen-panel .hd {
	font-size: 14px;
	padding: 9px 20px 10px 20px;
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px;
	color: #0d2a37;
}
.rgen-panel .hd .rgen-btn {
	position: absolute;
	right: 6px;
	top: 3px;
}
.rgen-panel .hd .help-text {
	text-transform: none;
	font-weight: normal;
}
.rgen-panel .panel-container {
	background-color: #fff;
	padding: 20px;
}
.rgen-panel.dark {
	background-color: #35424d;
	border: 3px solid #35424d;
}
.rgen-panel.solid {
	background-color: #f4f4f4;
}
.rgen-panel:after {
	content: '';
	display: table;
	clear: both;
}
.reset-panel  {}


/* MODEL POPUP
********************************************/
.rgen-model .modal-header {
	background-color: #0d2a37;
	border-radius: 4px 4px 0 0;
	padding: 15px 20px;
}
.rgen-model .modal-title {
	color: #fff;
	font-size: 16px;
	margin: 0px;
}
.rgen-model .modal-body {
	padding: 20px;
	font-size: 13px;
}
.rgen-model .modal-footer {
	background-color: #ededed;
	border-top-color: #dadcdd;
	padding: 10px;
	border-radius: 0 0 4px 4px;
}
.rgen-model .modal-footer .rgen-btn {
	margin-left: 8px;
}
.rgen-model .modal-content:hover {
	z-index: 9999999;
}
.sweet-alert p { font-weight: 400; }
.sweet-overlay { z-index: 1999; }

/* ICON MANAGER
********************************************/
.icon-container {
	overflow-y: scroll;
	height: 223px;
	background-color: #ededed;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0px rgba(0,0,0,0.05);
	padding: 5px;
}
.icon-container span {
	text-align: center;
	display: inline-block;
	background-color: #ffffff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 3px;
	font-size: 20px;
	margin: 4px;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.05);
	cursor: pointer;
}
.icon-container span:hover {
	background-color: #0d2a37;
	color: #fff;
}
.icon-container .active {
	background-color: #ea6d6d;
	color: #fff;
}
.icon-preview {
	display: block;
	text-align: center;
	background-color: #ededed;
	font-size: 100px;
	padding: 20px;
	border-radius: 4px;
	margin-top: 24px;
}
.icon-name {
	display: block;
	text-align: center;
	background-color: #0d2a37;
	color: #fff;
	font-size: 13px;
	padding: 5px;
	border-radius: 0 0 4px 4px;
}
.filter-input {
	position: relative;
	display: block;
}
.filter-input i {
	position: absolute;
	right: 6px;
	top: 4px;
	font-size: 24px;
	cursor: pointer;
	color: #0d2a37;
}

/* GRIDSTER
********************************************/
.gridster ul {
	list-style-type: none;
	margin: 0px; padding: 0px;
	background-color: rgba(0,0,0,0.05);
}
.gridster > ul > li {
	background-color: rgba(0,0,0,0.05);
}
.gridster .preview-holder {
	background-color: rgba(0,0,0,0.8);
}

/* HELPER CLASSES
********************************************/
.mr0 { margin: 0px !important; }

.mr1 { margin: 1px; }
.mr2 { margin: 2px; }
.mr5 { margin: 5px; }
.mr10 { margin: 10px; }
.mr15 { margin: 15px; }
.mr20 { margin: 20px; }

.mr0-t { margin-top: 0px; }
.mr1-t { margin-top: 1px; }
.mr2-t { margin-top: 2px; }
.mr5-t { margin-top: 5px; }
.mr10-t { margin-top: 10px; }
.mr15-t { margin-top: 15px; }
.mr20-t { margin-top: 20px; }

.mr0-r { margin-right: 0px; }
.mr1-r { margin-right: 1px; }
.mr2-r { margin-right: 2px; }
.mr5-r { margin-right: 5px; }
.mr10-r { margin-right: 10px; }
.mr15-r { margin-right: 15px; }
.mr20-r { margin-right: 20px; }

.mr0-b { margin-bottom: 0px; }
.mr1-b { margin-bottom: 1px; }
.mr2-b { margin-bottom: 2px; }
.mr5-b { margin-bottom: 5px; }
.mr10-b { margin-bottom: 10px; }
.mr15-b { margin-bottom: 15px; }
.mr20-b { margin-bottom: 20px; }

.mr0-l { margin-left: 0px; }
.mr1-l { margin-left: 1px; }
.mr2-l { margin-left: 2px; }
.mr5-l { margin-left: 5px; }
.mr10-l { margin-left: 10px; }
.mr15-l { margin-left: 15px; }
.mr20-l { margin-left: 20px; }

.pd1 { padding: 1px; }
.pd2 { padding: 2px; }
.pd5 { padding: 5px; }
.pd10 { padding: 10px; }
.pd15 { padding: 15px; }
.pd20 { padding: 20px; }

.pd1-t { padding-top: 1px; }
.pd2-t { padding-top: 2px; }
.pd5-t { padding-top: 5px; }
.pd10-t { padding-top: 10px; }
.pd15-t { padding-top: 15px; }
.pd20-t { padding-top: 20px; }

.pd1-r { padding-right: 1px; }
.pd2-r { padding-right: 2px; }
.pd5-r { padding-right: 5px; }
.pd10-r { padding-right: 10px; }
.pd15-r { padding-right: 15px; }
.pd20-r { padding-right: 20px; }

.pd1-b { padding-bottom: 1px; }
.pd2-b { padding-bottom: 2px; }
.pd5-b { padding-bottom: 5px; }
.pd10-b { padding-bottom: 10px; }
.pd15-b { padding-bottom: 15px; }
.pd20-b { padding-bottom: 20px; }

.pd1-l { padding-left: 1px; }
.pd2-l { padding-left: 2px; }
.pd5-l { padding-left: 5px; }
.pd10-l { padding-left: 10px; }
.pd15-l { padding-left: 15px; }
.pd20-l { padding-left: 20px; }

.v-mid { vertical-align: middle !important; }
.v-top { vertical-align: top !important; }
.v-bot { vertical-align: bottom !important; }

.h-c { text-align: center; }
.h-l { text-align: left; }
.h-r { text-align: right; }

.fr { float: right; }
.fl { float: left; }

.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs16 { font-size: 16px !important; }
.fs18 { font-size: 18px !important; }
.fs20 { font-size: 20px !important; }
.pos-rel { position: relative; }

.h-50 { height: 50px; }
.h-100 { height: 100px; }
.h-150 { height: 150px; }
.h-200 { height: 200px; }
.h-250 { height: 250px; }

/* CSS ANIMATION 
********************************************/
.list li i,
button, a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#logo{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}