<?php include $this->rgen('layout_top'); ?>

<script type="text/javascript">
    function validarformu(email){
    	var verificado = email;
    	corrigido = verificado.replace(/[' 'çÇáâĩũĨŨãẽõêôÔÊÂÃẼÕÁàÀéèÉÈíìÍÌóòÓÒúùÚÙñÑ!#$%*()+~}{&]/g,'');
    	if(corrigido == email){
    		$("#input-email").val(corrigido);
    		$("#erro-email").css("display","none");
    		console.log(email);
    	} else {
    		console.log(email);
    		$("#input-email").val("");
    		$("#erro-email").css("display","block");
    	}    	
    }

    
    function validarPhone(phone){
    	var verificado2 = phone;
    	corrigido2 = verificado2.replace(/[' 'aAbBcCdDeEfFgGHhiIjJkKlLmMnNoOpPqQrRsStTuUvVxXwWyYzZ!@#$%*-+=_.,çÇáâĩũĨŨãẽõêôÔÊÂÃẼÕÁàÀéèÉÈíìÍÌóòÓÒúùÚÙñÑ!#$%*()+~}{&]/g,'');
    	if(corrigido2.length < 8){
    		console.log(phone);
    		$("#input-telephone").val("");
    		$("#erro-phone").html("Insira no mínimo 8 dígitos");
    		$("#erro-phone").css("display","block");
    	}else {
    		if(corrigido2 == phone){
	    		$("#input-telephone").val(corrigido2);
	    		$("#erro-phone").css("display","none");
	    		console.log(phone);
	    	} else {
	    		console.log(phone);
	    		$("#input-telephone").val("");
	    		$("#erro-phone").html("Insira somente números!");
	    		$("#erro-phone").css("display","block");
    		}
    	}
	}

    
</script>

<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="frm-wrp">
		<fieldset>
			<legend class="frm-hd"><?php echo $text_your_details; ?></legend>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-firstname"><?php echo $entry_firstname; ?> </label>
				<div class="col-sm-10">
					<input type="text" name="firstname" value="<?php echo $firstname; ?>" placeholder="<?php echo $entry_firstname; ?>" id="input-firstname" class="form-control" />
					<?php if ($error_firstname) { ?>
					<div class="text-danger"><?php echo $error_firstname; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-lastname"><?php echo $entry_lastname; ?></label>
				<div class="col-sm-10">
					<input type="text" name="lastname" value="<?php echo $lastname; ?>" placeholder="<?php echo $entry_lastname; ?>" id="input-lastname" class="form-control" />
					<?php if ($error_lastname) { ?>
					<div class="text-danger"><?php echo $error_lastname; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-email"><?php echo $entry_email; ?></label>
				<div class="col-sm-10">
					<span id="erro-email" style="color:#FF0000;display:none;">O email não pode ter caracteres especiais!</span>
					<input type="email" name="email" value="<?php echo $email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" onblur="validarformu(this.value)" class="form-control" />
					<?php if ($error_email) { ?>
					<div class="text-danger"><?php echo $error_email; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-telephone"><?php echo $entry_telephone; ?></label>
				<div class="col-sm-10">
					<span class="required">*Insira DDD + telefone somente com números</span><span id="erro-phone" style="color:#FF0000;display:none;">Insira somente números!</span>
					<input type="tel" name="telephone" value="<?php echo $telephone; ?>" placeholder="<?php echo $entry_telephone; ?>" id="input-telephone" maxlength="11" onblur="validarPhone(this.value);" class="form-control" />
					<?php if ($error_telephone) { ?>
					<div class="text-danger"><?php echo $error_telephone; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-fax"><?php echo $entry_fax; ?></label>
				<div class="col-sm-10">
					<input type="text" name="fax" value="<?php echo $fax; ?>" placeholder="<?php echo $entry_fax; ?>" id="input-fax" class="form-control" />
				</div>
			</div>
			<?php foreach ($custom_fields as $custom_field) { ?>
			<?php if ($custom_field['location'] == 'account') { ?>
			<?php if ($custom_field['type'] == 'select') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<select name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control">
					<option value=""><?php echo $text_select; ?></option>
					<?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
					<?php if (isset($account_custom_field[$custom_field['custom_field_id']]) && $custom_field_value['custom_field_value_id'] == $account_custom_field[$custom_field['custom_field_id']]) { ?>
					<option value="<?php echo $custom_field_value['custom_field_value_id']; ?>" selected="selected"><?php echo $custom_field_value['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $custom_field_value['custom_field_value_id']; ?>"><?php echo $custom_field_value['name']; ?></option>
					<?php } ?>
					<?php } ?>
					</select>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'radio') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<div>
					<?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
					<div class="radio">
						<?php if (isset($account_custom_field[$custom_field['custom_field_id']]) && $custom_field_value['custom_field_value_id'] == $account_custom_field[$custom_field['custom_field_id']]) { ?>
						<label>
						<input type="radio" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo $custom_field_value['custom_field_value_id']; ?>" checked="checked" />
						<?php echo $custom_field_value['name']; ?></label>
						<?php } else { ?>
						<label>
						<input type="radio" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo $custom_field_value['custom_field_value_id']; ?>" />
						<?php echo $custom_field_value['name']; ?></label>
						<?php } ?>
					</div>
					<?php } ?>
					</div>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'checkbox') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<div>
					<?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
					<div class="checkbox">
						<?php if (isset($account_custom_field[$custom_field['custom_field_id']]) && in_array($custom_field_value['custom_field_value_id'], $account_custom_field[$custom_field['custom_field_id']])) { ?>
						<label>
						<input type="checkbox" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>][]" value="<?php echo $custom_field_value['custom_field_value_id']; ?>" checked="checked" />
						<?php echo $custom_field_value['name']; ?></label>
						<?php } else { ?>
						<label>
						<input type="checkbox" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>][]" value="<?php echo $custom_field_value['custom_field_value_id']; ?>" />
						<?php echo $custom_field_value['name']; ?></label>
						<?php } ?>
					</div>
					<?php } ?>
					</div>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'text') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : $custom_field['value']); ?>" placeholder="<?php echo $custom_field['name']; ?>" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control" />
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'textarea') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<textarea name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" rows="5" placeholder="<?php echo $custom_field['name']; ?>" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control"><?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : $custom_field['value']); ?></textarea>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'file') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<button type="button" id="button-custom-field<?php echo $custom_field['custom_field_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn-default"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
					<input type="hidden" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : ''); ?>" />
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'date') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<div class="input-group date">
					<input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : $custom_field['value']); ?>" placeholder="<?php echo $custom_field['name']; ?>" data-format="YYYY-MM-DD" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'time') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<div class="input-group time">
					<input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : $custom_field['value']); ?>" placeholder="<?php echo $custom_field['name']; ?>" data-format="HH:mm" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php if ($custom_field['type'] == 'datetime') { ?>
			<div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field" data-sort="<?php echo $custom_field['sort_order']; ?>">
				<label class="col-sm-2 control-label" for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
				<div class="col-sm-10">
					<div class="input-group datetime">
					<input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" value="<?php echo (isset($account_custom_field[$custom_field['location']][$custom_field['custom_field_id']]) ? $account_custom_field[$custom_field['location']][$custom_field['custom_field_id']] : $custom_field['value']); ?>" placeholder="<?php echo $custom_field['name']; ?>" data-format="YYYY-MM-DD HH:mm" id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
					<?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
					<div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
					<?php } ?>
				</div>
			</div>
			<?php } ?>
			<?php } ?>
			<?php } ?>
		</fieldset>
	</div>
	<div class="buttons clearfix">
		<div class="pull-left"><a href="<?php echo $back; ?>" class="default-btn"><?php echo $button_back; ?></a></div>
		<div class="pull-right">
		<input type="submit" value="<?php echo $button_continue; ?>" class="primary-btn" />
		</div>
	</div>
</form>

<?php 
	include $this->rgen('layout_bottom');
	include $this->rgen('msg_error');
?>

<script type="text/javascript"><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	} 
	
	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}
		
	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var node = this;
	
	$('#form-upload').remove();
	
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	$('#form-upload input[name=\'file\']').on('change', function() {
		$.ajax({
			url: 'index.php?route=tool/upload',
			type: 'post',		
			dataType: 'json',
			data: new FormData($(this).parent()[0]),
			cache: false,
			contentType: false,
			processData: false,		
			beforeSend: function() {
				$(node).button('loading');
			},
			complete: function() {
				$(node).button('reset');			
			},		
			success: function(json) {
				$('.text-danger').remove();
				
				if (json['error']) {
					$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
				}
							
				if (json['success']) {
					alert(json['success']);
					
					$(node).parent().find('input').attr('value', json['file']);
				}
			},			
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});
//--></script> 
<?php echo $footer; ?>